.customSkeletonItem {
  background-color: rgba(160, 160, 160, 0.085) !important;
}
.customSkeleton {
  height: 140px !important;
  background-color: rgba(160, 160, 160, 0.085) !important;
}

.mixedGold {
  background-color: transparent !important;
  color: var(--black) !important;
  border: 1px solid var(--primary-golden-color-dark) !important;

  &:hover {
    background-color: transparent !important;
    color: var(--black) !important;
    border: 1px solid var(--primary-golden-color-dark) !important;
  }
}
