.customSkeletonItem {
  background-color: rgba(160, 160, 160, 0.085) !important;
  gap: 15px; /* Space between avatar and content */
  width: 100%;
  height: 100px;
  padding: 20px;
}
.customSkeleton {
  background-color: rgba(160, 160, 160, 0.085) !important;

}

.mixedGold {
  background-color: transparent !important;
  color: var(--black) !important;
  border: 1px solid var(--primary-golden-color-dark) !important;

  &:hover {
    background-color: transparent !important;
    color: var(--black) !important;
    border: 1px solid var(--primary-golden-color-dark) !important;
  }
}
