.projectStatusReport {
  width: 100% !important;
  overflow: scroll;
  scroll-behavior: smooth;
  border-radius: 8px;
  padding-top: 36px;
  padding-bottom: 36px;
  &::-webkit-scrollbar {
    display: none;
  }

  .customSkeletonItem {
    background-color: var(--disabled-table-column-background) !important;
  }

  .tableWrapper {
    min-width: 950px;
  }

  .projectCell {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
    .avatar {
      width: 40px;
      height: 40px;
      background-color: #1890ff;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      margin-right: 10px;
    }
    .projectName {
      font-size: 16px;
      color: var(--black) !important;
      background-color: transparent;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .projectLeadCell {
    padding-left: 16px;
    .name {
      font-size: 16px;
      color: var(--black) !important;
    }
  }

  .dateCell {
    padding-left: 10px;
    div {
      font-size: 16px;
      color: var(--black) !important;
    }
  }

  .reportingCell {
    padding-left: 10px;
    div {
      font-size: 16px;
      color: var(--black) !important;
    }
  }

  .progressCell {
    padding-left: 8px;
    div {
      font-size: 16px;
      color: var(--black) !important;
    }
  }

  .commentsCell {
    padding-left: 6px;
    span {
      font-size: 16px;
      color: var(--black) !important;
    }
  }

  .deleteButton {
    width: 50px;
    cursor: pointer;

    .threeDotButton {
      font-size: 18px;
      color: var(--black) !important;
    }
  }
}

.paginationDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .pagination {
    color: red !important;

    :global(.ant-pagination-item-active) {
      border-color: var(--primary-golden-color-dark) !important;
      background-color: var(--primary-golden-color-dark) !important;
      color: white !important;
    }
    :global(.ant-pagination-item-active a) {
      color: white !important;
    }
    :global(.ant-pagination-item) {
      border-color: transparent;
      background-color: transparent;
    }
  }
}
