.employeeListWrapper{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.emptyWrapper{
    width: 100%;
}

.customSkeleton{
    background-color: rgba(123, 121, 121, 0.085)!important;
}