.modalContent {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin-bottom: 84px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  flex: 1 1 calc(55% - 16px); /* Each field takes up 50% of the row's width, minus the gap */
  min-width: 200px;
  max-width:  calc(55% - 16px);
  display: flex;
  flex-direction: column;


  label {
    font-size: 13px;
    font-weight: var(--default-font-weight);
    margin-bottom: 12px;
    color: var(--secondary-font-color-dark);
  }
}

.asterisk{
  color: #D83226;
}

//dropdown trigger

.dropdownTriggerWrapper{
  border:1px solid var( --input-box-outline);
  display: flex;
  padding: 16px 16px; 
  border-radius: 6px;
  cursor: pointer; 
  margin: 0;

}

// container within dropdown trigger  

.triggerContainer{
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #6a6a6a;
  width: 100%;
}

//actual dropdown menu
.dropdownMenu {
  max-height: 320px;
  overflow-y: hidden;
  cursor: default;

  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  :global(.ant-dropdown-menu) {
    padding: 0;
  }  
  
  :global(.ant-dropdown-menu-item) {//actually this is the li menuitem and inside this li menu item we are displaying an entire selectuser as menu item
    cursor: default !important;
    &:hover {
      background-color: transparent !important;
    }
  }


}

.roleName {
  color: var(--primary-golden-color-medium); 
  font-size: 16px;
  padding-bottom:4px;
}
