.projectDetailsWrapper {

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--heading-1-size);
    font-weight: var(--default-font-weight);
    color: #555;
    margin-right: 16px;
    margin-left: 0;
    line-height: 22.4px;
    background: var(--Secondary-light, #F1EDE6);
  }

  .circleImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
    margin-left: 0;
  }

  p {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    color: var(--Text-grey, #6A6A6D);
  }

  h4 {
    font-weight: 400;
    line-height: 21.33px;
    color: var(--Text, #252525);
    margin-top: 10px;
    font-size: 16px;
  }

  .firstRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;

    >div {
      flex: 1;
      max-width: 280px;
    }

    h4 {
      font-size: 18px;
    }
  }

  .middleRow {
    margin-top: 16px;


  }

}