.permissionTable {
  :global {
    .ant-table {
      .ant-table-tbody > tr > td {
        color: var(--black);
        padding-left: 4%;

        &:first-child {
          padding-left: 1.5%; /* Set padding for the first column */
        }
      }

      .ant-table-thead > tr > th {
        padding-left: 3%;

        &:first-child {
          padding-left: 1.5%; /* Set padding for the first column */
        }
      }
    }
  }
}
