.timeSheetTable {
  width: 100% !important;
  overflow: scroll;
  scroll-behavior: smooth;
  border-radius: 8px;
  padding-top: 10px;
  height: 100%;
  padding-bottom: 36px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.tableWrapper {
  min-width: 950px;
}
.projectCell {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
  transition: background-color 0.2s;
  border-radius: 5px;
}

.projectName {
  margin-left: 10px;
  color: var(--black);
  font-size: 16px;
}

.employeeNameCell {
  padding: 20px;
  color: var(--black);
  text-align: left;
  font-size: 16px;
}

.yearCell,
.monthCell,
.loggedHoursCell,
.approvedHoursCell {
  padding: 10px;
  color: var(--black);
  text-align: left;
  font-size: 16px;
}

.yearCell {
  text-align: center;
  padding: 15px;
}

.monthCell {
  text-align: center;
}

.dateRangeCell {
  padding: 10px;
  padding-left: 0px;
  color: var(--black);
  text-align: left;
  font-size: 16px;
}

.loggedHoursCell {
  text-align: center;
}

.approvedHoursCell {
  text-align: center;
}
