.button {
    font-size: 16px;
    padding: 12px 24px;
    height: 42px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.black {
    background-color: black;
    color: white;
    
}

.white {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.flagged {
    border: 2px dashed red; /* Styling for flagged buttons */
}

.button:hover {
    opacity: 0.8;
}
