.dashboard {
  display: flex;
  gap: 16px;
  padding: 36px 0px;
  padding-top: 20px !important;
  background-color: var(--page-background);
  width: 100%;
}

/* divided dashboard main two div */
.leftMainDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rightMainDiv {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* card styles */



// merging .notification and  holiday div

.additionalDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}



