.tableWrapper {
    width: 100%;
    margin-top: 36px;
}

.member,
.dates {
    font-size: 16px;
    color: var(--black);
    height: 40px;
}

.member {
    padding-left: 15px;
}

.status {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: var(--primary-golden-color-dark);

    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10px;
    }
}

.nameCell {
    display: flex;
    align-items: center;
    padding-left: 15px;
}