.profilePreviewWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: relative;
  cursor: pointer;
  z-index: 3000;

  .profileTrigger {
      display: flex;
      align-items: center;
      column-gap: 8px;
  }
}

// Avatar styles
.avatarWrapper {
  :global {
      .ant-avatar {
          width: 44px;
          height: 44px;
          background-color: var(--primary-golden-color-medium);
          display: flex;
          justify-content: center;
          align-items: center;

          img {
              width: 36px;
              height: 36px;
              border-radius: 50%;
          }
      }
  }
}

.menuDropDown {
  z-index: 3000;
  display: flex;
  align-items: center;
  width: 11px;
  height: 6px;
  transition: transform 0.3s ease;

  svg {
      width: 11px;
      height: 6px;
  }
}

// Dropdown styles
.profileDropdownMenu {
  :global {
      .ant-dropdown-menu {
          background-color: #242424;
          box-shadow: none;
          padding: 0;
      }

      .ant-dropdown-menu-item {
          padding: 7px;
          border-radius: 5px;
          background-color: transparent;

          &:hover {
              background-color: #ffffff2d;
          }
      }

      .ant-dropdown-open {
          .menuDropDown {
              transform: rotate(180deg);
          }
      }
  }
}

.menuItem {
  display: flex;
  align-items: center;
  column-gap: 13px;
  color: var(--primary-font-color-light);
  font-size: var(--heading-3-size);
  font-weight: var(--default-font-weigh);

  .icon {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}