.customTabs:global(.ant-tabs-nav-list){
    font-size: var(--heading-2-size);
    font-weight: var(--default-font-weight);
}
// color of active tab's font
.customTabs:global(.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn){
    color: var(--primary-font-color-dark);
    font-size: var(--heading-2-size);
    font-weight: var(--sub-heading-font-weight);
    transition: all 0.4s ease !important;
}

// color of active tab's underline
.customTabs:global(.ant-tabs .ant-tabs-ink-bar){
    background-color: var(--primary-golden-color-dark);
}

// color of tab's font when not active
.customTabs:global(.ant-tabs .ant-tabs-tab-btn){
    color: var(--grey-font-color);
    font-size: var(--heading-2-size);
    font-weight: var(--default-font-weight);
    transition: all 0.4s ease !important;
}

