.container {
  h3 {
    margin-bottom: 20px;
  }
  p {
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 0px;
    color: #494949;
  }

  .back {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.input {
  height: 50px !important;
  background-color: transparent;
  &:focus {
    border-color: var(
      --primary-golden-color-dark
    ) !important; /* Ant Design primary color */
    box-shadow: 0 0 4px var(--primary-golden-color-dark) !important; /* Focus shadow effect */
    background-color: transparent;
  }

  &:hover {
    background-color: transparent;
    border-radius: 7px;
  }
  &:disabled {
    background-color: #f5f5f5; /* Disabled background */
    cursor: not-allowed;
  }

  &::placeholder {
    font-size: 14px;
    font-weight: 600;
  }
}

.loginButton {
  font-size: var(--heading-3-size);
  padding: 12px 24px;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 5px;
  height: 42px;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background: var(--primary-golden-color-dark) !important;
  color: white !important;
  margin-top: 32px;
  font-weight: var(--sub-heading-font-weight);
  line-height: 18.96px;
  &:hover {
    color: rgb(83, 83, 83) !important;
  }
}

.back {
  font-size: 0.9rem;
  color: #a8743a;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: underline;
  transition: color 0.3s ease;

  &:hover {
    color: #7a562b;
  }
}
