.mixedGold {
    background-color: transparent !important;
    color: var(--black) !important;
    border: 1px solid var(--primary-golden-color-dark) !important;
  
    &:hover {
      background-color: transparent !important;
      color: var(--black) !important;
      border: 1px solid var(--primary-golden-color-dark) !important;
    }
  }
  