.card {
  padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: var(--primary-font-color-dark);
}

.topRight {
  font-size: 0.9rem;
}

.bottomContent {
  text-align: right;
}
