.modalContent {
  background-color: var(--container-color); // Background color for the modal
  border-radius: 8px; // Rounded corners
  padding: 16px; // Padding inside the modal
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  min-width: 160px; // Minimum width of the modal
  width: max-content; // Adjust width to content
  height: max-content; // Adjust height to content
  z-index: 999; // Ensure it's above the background elements
}

.subModalContent {
  margin-top: 10px; // Space between main modal and submodal
  background-color: var(--container-color); // Background color for submodal
  border-radius: 8px; // Rounded corners
  padding: 16px; // Padding inside the submodal
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  min-width: 160px; // Minimum width of the submodal
  width: max-content; // Adjust width to content
  height: max-content; // Adjust height to content
  z-index: 999; // Ensure it's above background elements
  position: relative; // Relative positioning for the arrow
}

.subModalContent::before {
  content: ''; // Arrow element
  position: absolute; // Position relative to the submodal
  top: -10px; // Adjust the position of the arrow
  left: 20px; // Center the arrow horizontally
  border-left: 8px solid transparent; // Left side of the arrow
  border-right: 8px solid transparent; // Right side of the arrow
  border-bottom: 10px solid var(--container-color); // Color of the arrow
}

.blackTheme .modalContent {
  background-color: var(--nav-bar-background-color); // Dark theme background
  color: white; // Text color for dark theme
}

.blackTheme .subModalContent {
  background-color: var(--nav-bar-background-color); // Dark theme submodal background
  color: white; // Text color for dark theme
}

.blackTheme .subModalContent::before {
  border-bottom: 10px solid var(--nav-bar-background-color); // Match arrow color with background
}

.whiteTheme .modalContent {
  background-color: var(--container-color); // Light theme background
  color: black; // Text color for light theme
}

.whiteTheme .subModalContent {
  background-color: var(--container-color); // Light theme submodal background
  color: black; // Text color for light theme
}

.whiteTheme .subModalContent::before {
  border-bottom: 10px solid var(--container-color); // Match arrow color with background
}
