
.userSelectdropdownContent {
  
  padding: 8px 6px;
  display: flex;
  flex-direction: column;
  max-height: 360px;
  overflow-y: hidden;


}

.userList {
  padding: 2px;
  margin-top: 20px;
  max-height: 200px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d9d9d9;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

}

.userItem {
  cursor: pointer;
  margin-bottom:9px;
  border-radius: 8px;
 padding:9px 4px;
  display: flex;
  align-items: center;
  gap: 16px;
  color:var(--primary-font-color-dark);
  font-size: var(--heading-3-size);
}

.userItem:hover{
  background-color: rgba(0, 0, 0, 0.046)
}
