
.userSelectdropdownContent {
  
  padding: 7px;
  display: flex;
  flex-direction: column;

}

.userList {
  margin-top: 24px;
  overflow-y: auto; /* Enable scrolling when content exceeds the max height */
}

.userItem {
  margin-bottom:18px;
  display: flex;
  align-items: center;
  gap: 16px;
  color:var(--primary-font-color-dark);
  font-size: var(--heading-3-size);

}
