body {
    background-color: var(--page-background);
    width: calc(100vw - 293px);
    margin-left: 293px;
    height: 100%;
    padding-top: 78px;
    padding-left: 40px;
    padding-right: 40px;
}