.modalDiv {
  :global(.ant-modal-content) {
    border-radius: 20px !important;
    overflow: hidden;
    height: 500px;
  }
}
.classTitle{
  margin-bottom: 0px!important;
}
.classTopButton{
  text-align: right;
}
.classTabbedComponent{
  padding-top: 0px!important;
}

.yearFilter,
.monthFilter,
.projectFilter,
.employeeFilter,
.periodFilter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 650px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d9d9d9;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }
}

.radioLabel,
.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  color: var(--secondary-font-color-dark);
  transition: color 0.3s;

  &:hover {
    color: var(--primary-golden-color-dark);
  }
}

.radioInput,
.checkboxInput {
  appearance: none;
  cursor: pointer;
  transition: all 0.3s;
}

.radioInput {
  width: 15px;
  height: 15px;
  border: 2px solid #d4af37;
  border-radius: 50%;
  position: relative;
  background-color: transparent;

  &:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    background-color: #d4af37;
    border-radius: 50%;
  }
}

.periodFilter {
  .react-datepicker {
    border-radius: 10px;
    font-size: 14px;
  }
}
