.tableWrapper {
    width: 100%;
    margin-top: 36px;
}

.timeEntryBtn {
    max-width: 100px;
    max-height: 24px;
    width: 100%;
    height: 100%;
    padding: 2px 21px 2px 21px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    text-align: left;

    &.closed {
        color: var(--Text-grey, #6A6A6D) !important;
        border: 1px solid var(--Text-grey, #6A6A6D) !important;
    }

    &.opened {
        background: #FFEAC9;
        ;
        border: 1px solid var(--Primary-dark, #D4983F) !important;
        color: var(--Primary-dark, #D4983F) !important;
    }
}

.actionCell {
    text-align: center;
    cursor: pointer;
}

.threeDotButton {
    font-size: 20px !important;
    color: var(--black);
}

.category {
    padding-left: 15px;
    font-size: 16px;
    color: var(--black);
    height: 40px;
}